<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.my.service.dao.BoardDao">
    <select id="selectAll" resultType="Board">
        SELECT * FROM board_my
    </select>

    <select id="select" resultType="Board">
        SELECT * FROM board_my WHERE bno = #{bno}
    </select>


    <insert id="insert" parameterType="Board">
        INSERT INTO board_my
            (title, writer, content, created_at, updated_at, file_name)
        values
            (#{title}, #{writer}, #{content}, now(), now(), #{fileName})
    </insert>

    <update id="update" parameterType="Board">
        UPDATE board_my
        SET
            title = #{title},
            writer = #{writer},
            content = #{content},
            file_name = #{fileName},
            updated_at = now()
        WHERE
            bno = #{bno}
    </update>
</mapper>
